[Unit]
Description=Mailbox synchronization service for user %I

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Va
After=network.target network-online.target dbus.socket
ExecStartPost=/home/jfryman/bin/notmuch-hook
User=%i
StandardOutput=syslog
StandardError=syslog
